@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts.css');

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9)), url('/images/onlyplus.jpg');
  background-repeat: repeat;
  background-size: 5%;
  opacity: 0.05;
  z-index: -1;
}






